{
    "parser": "babel-eslint",
    "extends": ["plugin:prettier/recommended"],
    "overrides": [
        {
            "files": "*.js",
            "rules": {
                "quotes": "off"
            }
        }
    ]
}